@font-face {
	font-family: Sentinel;
	src: url(../assets/Sentinel-Light.otf);
}
@font-face {
	font-family: Sentinel;
	src: url(../assets/Sentinel-LightItalic.otf);
	font-style: italic;
}
@font-face {
	font-family: Gotham;
	src: url(../assets/Gotham-Medium.otf);
}

body {
	margin: 0;
	background: #000;
	font-family: Sentinel, serif;
	font-size: 16px;
	color: white;
	text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
	text-align: center;
}
a {
	color: white;
	text-decoration: none;
}
.contain {
	max-width: 48em;
	padding: 2em;
	margin: 2em auto;
}
video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('../assets/background_fallback.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}
nav {
	font-family: Gotham;
	margin-bottom: 2em;
	letter-spacing: .25em;
}
nav a {
	margin: 0 1em;
}

a#logo {
	position: relative;
}
a#logo:after {
	content: '';
	display: inline-block;
	width: 5px;
	height: 2px;
	background: white;
	position: absolute;
	right: 10px;
}

.watermark {
	margin-top: 2em;
}
.stopfade {
	opacity: .5;
}

hr {
	border: none;
	border-top: 1px solid;
	max-width: 6em;
}
.hide {
	display: none;
}

.content {
	display: none;
}
@media screen and (max-width: 500px) {
	div{width:70%;}
}
@media screen and (max-device-width: 800px) {
	html { background: url(../assets/background_fallback.jpg) #000 no-repeat center center fixed; }
	#bgvid { display: none; }
}
